<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>Users</title>
</head>
<body>
<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <ul class="navbar-nav mr-auto">
            <a class="navbar-brand text-monospace text-white" th:text="${loggedInUsername}"></a>
            <a class="navbar-brand text-monospace text-white"> with roles:</a>
            <a class="navbar-brand text-monospace text-white">
                <span th:each="role : ${loggedUser.roles}" th:text="${role.getName().replace('ROLE_', '') + ' '}"></span>
            </a>
        </ul>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-right" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">

        <div class="col-2" style="padding: 15px 0 0;">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#adminPanel">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#userPanel">User</a>
                </li>
            </ul>
        </div>

        <div class="col-10 bg-light">
            <div class="tab-content" style="padding-top: 15px; height: 100vh">

                <!--/* Вид для админа */-->
                <div class="tab-pane fade show active" id="adminPanel">
                    <h2>Admin panel</h2>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" id="allUsersTable" href="#allUsers">Users
                                table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#newUser">New User</a>
                        </li>
                    </ul>
                    <div class="tab-content">

                        <!--/* Таблица пользователей */-->
                        <div class="tab-pane fade show active" id="allUsers">
                            <div class="card">
                                <h5 class="card-header">All users</h5>
                                <div class="card-body text-center">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Mail</th>
                                            <th>Role</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        <tbody id="userPanelBody1">
                                        <tr>
                                        <tr th:each="user : ${users}">
                                            <td th:utext="${user.getName()}"></td>
                                            <td th:utext="${user.getMail()}"></td>
                                            <td>
                                                <span th:each="role : ${user.roles}" th:text="${role.getName().replace('ROLE_', '') + ' '}"></span>
                                            </td>
                                            <!--/* Кнопка Edit */-->
                                            <td>
                                                <a class="btn btn-primary" th:href="@{/admin/edit/(userId=${user.getId()})}"
                                                   data-toggle="modal" data-target="#editModal"
                                                   th:data-target="${'#editModal'+user.getId()}">Edit
                                                </a>
                                            </td>
                                            <!--/* Кнопка Delete */-->
                                            <td>
                                                <a class="btn btn-danger" th:href="@{/admin/delete/(userId=${user.getId()})}"
                                                   data-toggle="modal" data-target="#deleteModal"
                                                   th:data-target="${'#deleteModal'+user.getId()}">Delete
                                                </a>
                                            </td>
                                            <!-- Окно Edit -->
                                            <div class="modal fade" id="editModal"
                                                 th:id="${'editModal'+user.getId()}"
                                                 tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
                                                 aria-hidden="false">
                                                <div class="modal-dialog modal-dialog-scrollable">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Edit user</h5>
                                                            <button class="btn btn-danger"
                                                                    data-dismiss="modal"
                                                                    type="button">X
                                                            </button>
                                                        </div>
                                                        <form th:action="@{/admin/edit/user}"
                                                              th:method="POST"
                                                              th:object="${user}">
                                                            <div class="modal-body text-center">

                                                                <br>
                                                                <label for="edit-id"><b>Id</b></label>
                                                                <input class="form-control" id="edit-id"
                                                                       th:name="id"
                                                                       th:type="text"
                                                                       th:value="${user.getId()}" readonly/>
                                                                <br>
                                                                <label for="edit-name"><b>Name</b></label>
                                                                <input class="form-control" id="edit-name"
                                                                       th:name="name"
                                                                       th:type="text"
                                                                       th:value="${user.getName()}"/>
                                                                <br>
                                                                <label for="edit-mail"><b>Mail</b></label>
                                                                <input class="form-control" id="edit-mail"
                                                                       th:name="mail"
                                                                       th:type="text"
                                                                       th:value="${user.getMail()}"/>
                                                                <br>
                                                                <label for="edit-password"><b>Password</b></label>
                                                                <input class="form-control" id="edit-password" required
                                                                       th:name="password"
                                                                       th:type="password"
                                                                       th:value="${user.getPassword()}"
                                                                       placeholder="" readonly/>
                                                                <br>
                                                                <label class="container-fluid"
                                                                       for="newUserRoles2"><strong>Role</strong>
                                                                    <select id="newUserRoles2" class="form-control" name="listRoles" multiple size="2">
                                                                        <option value="1">USER</option>
                                                                        <option value="2">ADMIN</option>
                                                                    </select>
                                                                </label>

                                                                <div class="modal-footer">
                                                                    <button class="btn btn-secondary"
                                                                            data-dismiss="modal"
                                                                            type="button">Close
                                                                    </button>
                                                                    <button class="btn btn-primary" type="submit"
                                                                            value="Edit">Edit
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal fade" id="deleteModal"
                                                 th:id="${'deleteModal'+user.getId()}"
                                                 tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
                                                 aria-hidden="false">
                                                <div class="modal-dialog modal-dialog-scrollable">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Delete user</h5>
                                                            <button class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    type="button" aria-label="Close"></button>
                                                        </div>
                                                        <form th:action="@{/admin/delete/user}"
                                                              th:method="POST"
                                                              th:object="${user}">
                                                            <div class="modal-body text-center">

                                                                <br>
                                                                <label for="delete-id"><b>Id</b></label>
                                                                <input class="form-control" id="delete-id"
                                                                       th:name="id"
                                                                       th:type="text"
                                                                       th:value="${user.getId()}" readonly/>
                                                                <br>
                                                                <label for="delete-name"><b>Name</b></label>
                                                                <input class="form-control" id="delete-name"
                                                                       th:name="name"
                                                                       th:type="text"
                                                                       th:value="${user.getName()}" readonly/>
                                                                <br>
                                                                <label for="delete-mail"><b>Mail</b></label>
                                                                <input class="form-control" id="delete-mail"
                                                                       th:name="mail"
                                                                       th:type="text"
                                                                       th:value="${user.getMail()}" readonly/>
                                                                <br>
                                                                <label for="delete-password"><b>Password</b></label>
                                                                <input class="form-control" id="delete-password" required
                                                                       th:name="password"
                                                                       th:type="password"
                                                                       th:value="${user.getPassword()}"
                                                                       placeholder="" readonly/>
                                                                    <br>
                                                                    <label class="container-fluid"
                                                                           for="newUserRoles3"><strong>Role</strong>
                                                                        <select id="newUserRoles3" class="form-control" name="listRoles" multiple size="2" disabled>
                                                                            <option th:each="role : ${user.roles}" th:text="${role.getName().replace('ROLE_', '') + ' '}"></option>

                                                                        </select>
                                                                    </label>
                                                                <div class="modal-footer">
                                                                    <button class="btn btn-secondary"
                                                                            data-dismiss="modal"
                                                                            type="button">Close
                                                                    </button>
                                                                    <button class="btn btn-primary" type="submit"
                                                                            value="Delete">Delete
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="newUser">
                            <div class="form-group">
                                <div class="control-group required">
                                    <div class="card">
                                        <h5 class="card-header">Add new user</h5>
                                        <div class="card-body text-center">
                                            <div class="form justify-content-center mx-auto col-5">
                                                <form th:method="POST" th:action="@{/admin}" th:object="${user}">
                                                    <p>
                                                        <label class="container-fluid"
                                                               for="newName"><strong>Name</strong>
                                                            <input class="form-control" type="text" name="name"
                                                                   id="newName"/>
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <label class="container-fluid" for="newUserPassword"><strong>Password</strong>
                                                            <input class="form-control" type="password" name="password"
                                                                   id="newUserPassword"/>
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <label class="container-fluid"
                                                               for="newMail"><strong>Mail</strong>
                                                            <input class="form-control" type="text" name="mail"
                                                                   id="newMail"/>
                                                        </label>
                                                    </p>
                                                    <label class="container-fluid"
                                                           for="newUserRoles"><strong>Role</strong>
                                                        <select id="newUserRoles" class="form-control" name="listRoles" multiple size="2" required>
                                                            <option value="1">USER</option>
                                                            <option value="2">ADMIN</option>

                                                        </select>
                                                    </label>
                                                    <button type="submit" id="newUserButton" class="btn btn-success">Add new user</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="userPanel">
                    <h2>User information-page</h2>
                    <div class="card">
                        <h5 class="card-header">About user</h5>
                        <div class="card-body text-center">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Mail</th>
                                    <th>Role</th>
                                </tr>
                                <td th:text="${loggedUser.name}"></td>
                                <td th:text="${loggedUser.mail}"></td>
                                <td>
                                    <span th:each="role : ${loggedUser.roles}" th:text="${role.getName().replace('ROLE_', '') + ' '}"></span>
                                </td>
                                </thead>
                                <tbody id="userPanelBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>