<!--
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>New user</title>
</head>
<body>


<form th:method="POST" th:action="@{/admin}" th:object="${user}">

  <input type="hidden" th:name="userId" th:value="${user.getId()}"/>

  <label for="name">Name: </label>
  <input type="text" th:field="*{name}" id="name"/>

  <br/><br/>

  <label for="password">Password: </label>
  <input type="text" th:field="*{password}" id="password"/>
  <br/><br/>

  <label for="mail">Mail: </label>
  <input type="text" th:field="*{mail}" id="mail"/>
  <br/><br/>

  <label>Roles:
    <select size="2" multiple name="listRoles" required="required">
      <option selected="selected" value="1">USER</option>
      <option value="2">ADMIN</option>
    </select>
  </label>

  <button type="submit" class="btn btn-success">Add new user</button>

</form>
</body>
</html>-->
